venv/
.venv/
.idea
__pycache__/
*.pyc
db.sqlite3

.python-version

media/*
*/__pycache__/
.ruff_cache
localhost.crt
localhost.csr
localhost.key
domain.ext
.envs
*.crt
*.csr
*.key
*/.env
.env
.envs/
TODO
staticfiles
dev_env.bash
*.pem
schema.yaml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# Sphinx documentation
docs/_build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/