{% extends '_base.html' %}
{% load jformat %}

{% block body %}
  <p>hello {{ request.auser.username }}</p>

  <p>this page is to show the info we have about you</p>

  <p>name: {% if request.auser.first_name %}{{ request.auser.first_name }}{% else %}unknown{% endif %}</p>
  <p>last_name: {% if request.auser.last_name %}{{ request.auser.last_name }}{% else %}unknown{% endif %}</p>

  <p>date of birth: {% if request.auser.birth %}{{ request.auser.birth|jformat }}{% else %}unknown{% endif %}</p>
  <p>phone number: {% if request.auser.phone_number %}{{ request.auser.phone_number }}{% else %}unknown{% endif %}</p>


  <p><a href="{% url 'profile-edit' request.auser.username %}">edit your info</a></p>
{% endblock %}
