{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
    {% block extras_css %}{% endblock %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
      <h1><a href="{% url 'home' %}">Med</a></h1>
      <h3>{% if not request.auser.is_authenticated %}
        <a href="{% url 'account_login' %}">login</a>
      {% else %}
        <p><a href="{%  url 'profile' request.auser.username %}">profile</a></p>
        <p><a href="{% url 'account_logout' %}">logout</a></p>
      {% endif %}</h3>
      <p>{{ request.auser }}</p>
    </header>

    <div>
      {% block body %}{% endblock %}
    </div>

    <footer>
      <p>no rights reserved</p>
    </footer>
  </body>
</html>
